.space

.peter-river
  .container
    .row.mvl
      .col-md-10.col-md-offset-1
        h2.mtm Modération d'une page

.container
  .row.mvxl
    .col-md-10.col-md-offset-1
      div(ng-include="'views/admin/page/form.html'")
