.peter-river
  .container-fluid
    .row.mvl
      .col-md-10.col-md-offset-1
        h2(ng-show='page.id').mtm Modération d'un contenu
        h2(ng-hide='page.id').mtm Ajout d'un contenu

.container-fluid
  .row.mvxl
    .col-md-10.col-md-offset-1
      div(ng-include="'views/admin/page/form.html'")
