form(name='pageForm', ng-show='page', novalidate)
  .form-group(ng-class='{ "has-error": pageForm.title.$dirty && pageForm.title.$invalid }')
    label.control-label Titre
    input.form-control(name='title', ng-model='page.title', ng-required='true', type='text')

  .form-group(ng-class='{ "has-error": pageForm.content.$invalid }')
    label.control-label Contenu
    div(name='content', ng-model='page.content', text-angular, ta-toolbar-group-class='btn-group mrl', ta-toolbar-button-class='btn btn-info', ta-toolbar="[['p','h1','h2','h3','insertLink','insertImage','insertVideo'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'],['quote','ul','ol'],['undo','redo','clear']]")
    small(ng-if='page.slug == "faq"') Utilisez les H2, H3 pour styliser les questions/réponses
    small(ng-if='page.slug == "calendar"') Veuillez n'y placer qu'un seul lien

  .form-group(ng-class='{ "has-error": pageForm.slug.$dirty && pageForm.slug.$invalid }')
    label.control-label Slug
    input.form-control(name='slug', ng-model='page.slug', ng-required='true', type='text')

  button.btn.btn-success.pull-left(ng-click='save(pageForm)', ng-disabled='pageForm.$invalid') Valider

  div(ng-if='page.id')
    button.btn.btn-danger.pull-right(ng-really-message='Êtes-vous sûr ?', ng-really-click='delete()') Supprimer {{page.title}}
