form(name='pageForm', ng-show='page', novalidate)
  .form-group(ng-class='{ "has-error": pageForm.title.$dirty && pageForm.title.$invalid }')
    label.control-label Titre
    input.form-control(name='title', ng-model='page.title', ng-required='true', type='text')

  .form-group(ng-class='{ "has-error": pageForm.content.$invalid }')
    label.control-label Contenu
    textarea.form-control(name='content', ng-model='page.content')

  button.btn.btn-success.pull-left(ng-click='save(pageForm)', ng-disabled='pageForm.$invalid') Valider

  div(ng-if='page.id')
    button.btn.btn-danger.pull-right(ng-click='delete()') Supprimer {{page.title}}
