.m-home--background {
  background: url(/images/blanchemaille.png) no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/blur.png);
  }
}

.m-home--footer {
  a, a:hover {
    color: #FEFEFE;
  }

  a:hover {
    text-decoration: underline;
  }
}

#twitter-widget-0 {
  width: 100% !important;
}
