.m-home--background {
  background: url(/images/blanchemaille.png) no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/blur.png);
  }
}

.m-home--statistics {
  border-right: 1px solid #eeeeee;
}

.m-home--statistics:last-child {
  border-right: 0px;
}

.m-home--statistics--big {
  color: #4A5157;
  font-size: 50px;
  font-weight: 600;
}

.m-home--statistics--small {
  color: #C7CDD5;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 0.4em;
}

.m-home--footer {
  a, a:hover {
    color: #FEFEFE;
  }

  a:hover {
    text-decoration: underline;
  }
}
