@media (max-width: $screen-xs-max) {
  .l-admin {
    .col-sm-2.pos-fixed {
      position: static !important;
      height: auto !important;

      + .col-sm-10 {
        padding-left: 0 !important;
      }
    }
  }

  .m-nav--admin {
    height: auto !important;
  }
}
