@import "bootstrap-sass", "admin", "home", "newspaper", "organization";

html, body {
  height: 100%;
  font-family: "Open Sans", $font-family-sans-serif;
}

.space {
  height: 3px;
}

[ui-sref] {
  cursor: pointer;
}
