#nav.max-width(ng-include="'views/partials/header.html'")

.container.pvxl.prevent-affix
  .row.text-center
    .col-md-12
      h2.em(blanchemaille) {{page.title}}

      .hr.turquoise

      .text-justify(ng-bind-html='page.content')

.turquoise.pos-relative.arrow.pvl
  .container
    .row.text-center
      .col-md-12.mvl
        h2.em.mtm Ils conseillent nos membres

.light-gray
  .container.pvxl
    .row
      div(ng-repeat='partner in partners | orderBy:"name"')
        .col-md-4.col-sm-4
          a.m-partner.block.mbl(ui-sref='partners.show({ id: partner.slug })')
            img.max-width(src='{{partner.image.image.thumb.url}}', api-img)
