#nav.max-width(ng-include="'views/partials/header.html'")

.container.pvxl.prevent-affix
  .row
    .col-md-12.white.phl.pvxl.mbl
      .row
        .col-md-6.col-md-offset-3
          img.max-width(src='{{partner.image.image.thumb.url}}', api-path)

      .row
        .col-md-12.text-center
          h2.em
            | A propos de&nbsp;
            span.blanchemaille {{partner.name}}

          .hr.blanchemaillish

      .row
        .col-md-12
          p.text-justify {{partner.description}}

          .text-center.mtxl
            a.btn.btn-blanchemaillish.btn-inverse(ng-href='{{partner.link}}') Accèder au site
