footer.m-footer.black
  .container
    .row
      .col-md-12.text-center.pvxl
        p
          | Développé avec&nbsp;
          span.fa.fa-heart-o.text-alizarin
          | &nbsp;par&nbsp;
          a(ng-href='http://pinkpanda.io')
            b.text-white PinkPanda
            img(src='/images/pinkpanda.png', width='30px')
