footer.m-footer.black.mtxl
  .container
    .row
      .col-md-12.text-center.pvxl
        p.mbn
          | Créé avec&nbsp;
          span.fa.fa-heart-o.text-turquoise
          | &nbsp;par&nbsp;
          a(ui-sref='admin')
            | PinkPanda
            img(src='/images/pinkpanda.png', width='30px')
