nav.navbar.navbar-default.mbn(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#m-nav--items')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.blanchemaille(ui-sref='home') Bl@nchemaille

    #m-nav--items.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right.em.upper
        li
          a.home(ui-sref='home') Accueil

        li
          a.organizations(ui-sref='organizations.index') La communauté

        li
          a.works(ui-sref='works.index') Work in progress

        li
          a.partners(ui-sref='partners.index') Nos partenaires

        li
          a.newspapers(ui-sref='newspapers.index') On en parle

        li
          a.calendar(ui-sref='calendar') Calendrier

        li
          a.faq(ui-sref='faq') FAQ

        li
          a.contact(ui-sref='contact') Contact

script.
  $(function() {
    $('#nav').affix({
      offset: {
        top: $('#nav').position().top
      }
    });
  });
