doctype html
html.no-js(ng-app='app')
  head
    meta(charset='utf-8')
    title Bl@nchemaille
    base(href='/')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,600', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')

    // build:css(.) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/fullcalendar/dist/fullcalendar.css')
    link(rel='stylesheet', href='bower_components/ngprogress-lite/ngprogress-lite.css')
    // endbower
    // endbuild

    // build:css({app,.tmp}) styles/stylesheets.css
    link(href='styles/app.css', rel='stylesheet')
    link(href='styles/main.css', rel='stylesheet')
    // endbuild

  body(ng-controller='AppController', class='{{bodyClass}}')
    .sticky-footer
      .ui-view
      .sticky-footer-trick

    div(ng-include="'views/partials/footer.html'")

    <!--[if lt IE 9]>
    script(src='bower_components/es5-shim/es5-shim.js')
    script(src='bower_components/json3/lib/json3.min.js')
    <![endif]-->

    script(src='http://maps.googleapis.com/maps/api/js?sensor=false')

    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/lodash/dist/lodash.compat.js')
    script(src='bower_components/angular-google-maps/dist/angular-google-maps.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-scroll/angular-scroll.min.js')
    script(src='bower_components/angular-truncate/src/truncate.js')
    script(src='bower_components/jquery-ui/ui/jquery-ui.js')
    script(src='bower_components/moment/moment.js')
    script(src='bower_components/fullcalendar/dist/fullcalendar.js')
    script(src='bower_components/angular-ui-calendar/src/calendar.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js')
    script(src='bower_components/ngprogress-lite/ngprogress-lite.js')
    script(src='bower_components/restangular/dist/restangular.js')
    script(src='bower_components/textAngular/dist/textAngular.min.js')
    // endbower
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js')
    script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js')
    script(src='bower_components/angular-count-to/build/angular-count-to.min.js')
    script(src='bower_components/fullcalendar/dist/gcal.js')
    script(src='bower_components/fullcalendar/dist/lang-all.js')
    // endbuild

    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/javascript.js')
    script(src='scripts/app.js')
    script(src='scripts/app-controller.js')

    script(src='scripts/global/global-module.js')
    script(src='scripts/global/global-constants.js')
    script(src='scripts/global/global-filters.js')
    script(src='scripts/global/global-directives.js')

    script(src='scripts/admin/admin-module.js')
    script(src='scripts/admin/admin-directives.js')

    script(src='scripts/newspaper/newspaper-module.js')
    script(src='scripts/newspaper/newspaper-controllers.js')
    script(src='scripts/newspaper/newspaper-data.js')

    script(src='scripts/organization/organization-module.js')
    script(src='scripts/organization/organization-controllers.js')
    script(src='scripts/organization/organization-data.js')

    script(src='scripts/page/page-module.js')
    script(src='scripts/page/page-controllers.js')
    script(src='scripts/page/page-data.js')

    script(src='scripts/partner/partner-module.js')
    script(src='scripts/partner/partner-controllers.js')
    script(src='scripts/partner/partner-data.js')

    script(src='scripts/work/work-module.js')
    script(src='scripts/work/work-controllers.js')
    script(src='scripts/work/work-data.js')
    // endbuild
