#nav.max-width(ng-include="'views/partials/header.html'")

.container.pvxl.prevent-affix
  .row.text-center
    .col-md-12
      h2.em(blanchemaille) {{page.title}}

      .hr.blanchemaillish

      .text-justify(ng-bind-html='page.content')

  .row.mtl
    ul
      li(ng-repeat='event in events | orderBy:"scheduled_at"')
        a(ui-sref='events.show({ id: event.slug })') {{event.title}}
