#nav.max-width(ng-include="'views/partials/header.html'")

.container.pvxl.prevent-affix
  .row.text-center
    .col-md-12
      h2.em(blanchemaille) {{page.title}}

      .hr.blanchemaillish

      .text-justify(ng-bind-html='page.content')

  .row.mtl
    div(ng-repeat='report in reports | orderBy:"-created_at"')
      .col-md-3.mbl.text-center
        .m-report.mbm.light-gray
          .m-report--header
            h3.text-black.pos-absolute-center.max-width {{report.title}}

        a.btn.btn-blanchemaillish.btn-inverse(ng-href='{{report.file.file.url}}', api-path) Voir le compte rendu
