.space

.peter-river
  .container
    .row.mvl
      .col-md-10.col-md-offset-1
        div(ng-include="'views/admin/organization/form.html'")

.container.mvxl
  .row
    .col-md-6.col-md-offset-3.mbxl
      input.form-control(ng-model='search', type='text', placeholder='Rechercher')

  .row
    div(ng-repeat='organization in organizations | filter:search | orderBy:"name"')
      .col-md-3
        a.m-organization.mbl(ui-sref='admin.organizations.edit({ id: organization.id })')
          img.max-width(src='{{organization.image.image.thumb.url}}', api-img)
