.m-nav--admin.light-black
  .container.text-center
    .row.upper
      .col-md-2
        a.newspapers(ui-sref='admin.newspapers.index') Articles

      .col-md-3
        a.organizations(ui-sref='admin.organizations.index') Membres

      .col-md-2
        a.pages(ui-sref='admin.pages.index') Pages

      .col-md-3
        a.partners(ui-sref='admin.partners.index') Partenaires

      .col-md-2
        a.works(ui-sref='admin.works.index') Travaux
