.m-nav--admin.height-100.light-black
  .container-fluid
    .row
      .col-md-12.phn.upper.text-center
        .dashboard.pvl.pbn.text-white
          a(ui-sref='admin.index')
            small {{currentUser.firstname}} {{currentUser.lastname}}

      .col-md-12.phn
        .hr.turquoise.mtm.mbm

      .col-md-12.phn
        .events.pvm
          a.title.phm.pvm.mbm(ui-sref='admin.events.index') Evenements

          a.pvs.phl(ui-sref='admin.events.index') Voir tous

          a.pvs.new.phl(ui-sref='admin.events.new') Nouveau

      .col-md-12.phn
        .images.pvm
          a.title.phm.pvm.mbm(ui-sref='admin.images.index') Images

          a.pvs.phl(ui-sref='admin.images.index') Voir tous

          a.pvs.new.phl(ui-sref='admin.images.new') Nouveau

      .col-md-12.phn
        .newspapers.pvm
          a.title.phm.pvm.mbm(ui-sref='admin.newspapers.index') On en parle

          a.pvs.phl(ui-sref='admin.newspapers.index') Voir tous

          a.pvs.new.phl(ui-sref='admin.newspapers.new') Nouveau

      .col-md-12.phn
        .organizations.pvm
          a.title.phm.pvm.mbm(ui-sref='admin.organizations.index') La communauté

          a.pvs.phl(ui-sref='admin.organizations.index') Voir tous

          a.pvs.new.phl(ui-sref='admin.organizations.new') Nouveau

      .col-md-12.phn
        .pages.pvm
          a.title.phm.pvm.mbm(ui-sref='admin.pages.index') Pages

          a.pvs.phl(ui-sref='admin.pages.index') Voir tous

          a.pvs.new.phl(ui-sref='admin.pages.new') Nouveau

      .col-md-12.phn
        .partners.pvm
          a.title.phm.pvm.mbm(ui-sref='admin.partners.index') Nos partenaires

          a.pvs.phl(ui-sref='admin.partners.index') Voir tous

          a.pvs.new.phl(ui-sref='admin.partners.new') Nouveau

      .col-md-12.phn
        .works.pvm
          a.title.phm.pvm.mbm(ui-sref='admin.works.index') Work in progress

          a.pvs.phl(ui-sref='admin.works.index') Voir tous

          a.pvs.new.phl(ui-sref='admin.works.new') Nouveau

script.
  maxHeight();
