.m-nav--admin.mtl
  .container-fluid
    .row
      .col-md-2
        a(ui-sref="admin.newspapers.index") Newspapers

      .col-md-2
        a(ui-sref="admin.organizations.index") Organisations

      .col-md-2
        a(ui-sref="admin.pages.index") Pages

      .col-md-2
        a(ui-sref="admin.partners.index") Partnenaires

      .col-md-2
        a(ui-sref="admin.works.index") Travaux

    .hr
