google-map.m-organization--map(center='map.center', options='map.options', zoom='map.zoom')
  markers(click="'onClick'", coords="'self'", models='filteredMarkers')
    windows(closeClick="'closeClick'", ng-cloak, show="'showWindow'")
      div.clearfix.text-center(ng-non-bindable)
        h2(class='text-black') {{name}}
        a.btn.btn-blanchemaillish.btn-inverse.mtm.mbm(href='{{path}}', target='_blank') Voir la fiche détaillée
