#nav.max-width(ng-include="'views/partials/header.html'")

.container.pvxl.prevent-affix
  .row.text-center
    .col-md-12
      h2.em(blanchemaille) {{page.title}}

      .hr.turquoise

      .text-justify(ng-bind-html='page.content')

.turquoise.pos-relative.arrow.pvl
  .container
    .row.text-center
      .col-md-12.mvl
        google-map.m-organization--map(center='map.center', zoom='map.zoom')
          markers(click="'onClicked'", coords="'self'", fit='true', icon="'icon'", models='markers | filter:selectedSector')

        select.form-control(name='sector', ng-model='selectedSector', ng-options='sector for sector in sectors')
          option(value='') Sélectionnez un secteur

.light-gray
  .container.pvxl
    .row
      div(ng-repeat='organization in organizations | orderBy:"name"')
        .col-md-4.col-sm-4
          a.m-organization.block.mbl(ui-sref='organizations.show({ id: organization.slug })')
            img.max-width(src='{{organization.image.image.thumb.url}}', api-img)

style.
  .m-organization--map .angular-google-map-container {
    height: 500px;
  }
