form(enctype='multipart/form-data', name='partnerForm', ng-show='partner', novalidate)
  .form-group(ng-class='{ "has-error": partnerForm.name.$dirty && partnerForm.name.$invalid }')
    label.control-label Nom
    input.form-control(name='name', ng-model='partner.name', ng-required='true', type='text')

  .form-group(ng-class='{ "has-error": partnerForm.link.$dirty && partnerForm.link.$invalid }')
    label.control-label Lien
    input.form-control(name='link', ng-model='partner.link', type='url')

  .form-group(ng-class='{ "has-error": partnerForm.image.$dirty && partnerForm.image.$invalid }')
    label.control-label Image
    input.form-control(name='image', file-model='partner.image', type='file')
    small Redimensionnée en 300x200 et 64x64

  .form-group(ng-class='{ "has-error": partnerForm.description.$invalid }')
    label.control-label Description
    textarea.form-control(name='description', ng-model='partner.description', rows='5')

  button.btn.btn-success.pull-left(ng-click='save(partnerForm)', ng-disabled='partnerForm.$invalid') Valider

  div(ng-if='partner.id')
    button.btn.btn-danger.pull-right(ng-really-message='Êtes-vous sûr ?', ng-really-click='delete()') Supprimer {{partner.name}}
