.space

.peter-river
  .container
    .row.mvl
      .col-md-10.col-md-offset-1
        div(ng-include="'views/admin/partner/form.html'")

.container
  .row
    .col-md-6.col-md-offset-3.mvxl
      input.form-control(ng-model='search', type='text', placeholder='Rechercher')

    div(ng-repeat='partner in partners | filter:search')
      .col-md-4
        a(ui-sref='admin.partners.edit({ id: partner.id })') {{partner.name}}
