form(name='workForm', ng-show='work', novalidate)
  .form-group(ng-class='{ "has-error": workForm.title.$dirty && workForm.title.$invalid }')
    label.control-label Titre
    input.form-control(name='title', ng-model='work.title', ng-required='true', type='text')

  .form-group(ng-class='{ "has-error": workForm.worked_at.$dirty && workForm.worked_at.$invalid }')
    label.control-label Date
    input.form-control(name='worked_at', ng-model='work.worked_at', ng-required='true', type='date')

  .form-group(ng-class='{ "has-error": workForm.content.$invalid }')
    label.control-label Contenu
    div(name='content', ng-model='work.content', text-angular, ta-toolbar-group-class='btn-group mrl', ta-toolbar-button-class='btn btn-info', ta-toolbar="[['p','h1','h2','h3','h4','h5','insertLink','insertImage','insertVideo'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'],['quote','ul','ol'],['undo','redo','clear']]")

  button.btn.btn-success.pull-left(ng-click='save(workForm)', ng-disabled='workForm.$invalid') Valider

  div(ng-if='work.id')
    button.btn.btn-danger.pull-right(ng-really-message='Êtes-vous sûr ?', ng-really-click='delete()') Supprimer {{work.title}}
