.space

.peter-river
  .container
    .row.mvl
      .col-md-10.col-md-offset-1
        div(ng-include="'views/admin/work/form.html'")

.container.mvxl
  .row
    .col-md-6.col-md-offset-3.mbxl
      input.form-control(ng-model='search', type='text', placeholder='Rechercher')

  .row
    div(ng-repeat='work in works | filter:search')
      .col-md-3.text-center
        a.h2.block.light-gray.pvxl.phxl(ui-sref='admin.works.edit({ id: work.id })') {{work.title}}
