.container.pvxl
  .row.text-center
    .col-md-12
      h1.em(blanchemaille) {{newspaper.title}}

      a.btn.btn-turquoise.btn-inverse(ng-href='{{newspaper.link}}') Voir l'article

      .hr.turquoise

  .row
    .col-md-12
      .m-newspaper
        .m-newspaper--content.pvl.phl
          img.img-rounded.mrl.mbl.pull-left(src='{{newspaper.image.image.thumb.url}}', api-img)
          p {{newspaper.content}}

          .text-right
            em.m-newspaper--name {{newspaper.newspaper_name}}
