.height-100
  .m-home--background.cover
  .container.pos-absolute-center
    .row.text-center
      .col-md-12
        h1.upper.em.m-header--title
          | In&nbsp;
          span.text-turquoise Roubaix
          | ,
          br
          | we&nbsp;
          span.fa.fa-heart-o.text-turquoise
          | &nbsp;Startups !

      .col-md-12.mtxl
        a.btn.btn-turquoise.btn-lg.btn-inverse(du-smooth-scroll, href='#hello') Découvrir Bl@nchemaille

#nav.max-width(ng-include="'views/partials/header.html'")

#hello.white.pvxl.prevent-affix
  .container
    .row.text-center
      .col-md-12
        h2.em(blanchemaille) {{page.title}}

        .hr.turquoise

        .text-justify(ng-bind-html='page.content')

.turquoise.pos-relative.arrow.pvl
  .container
    .row.text-center
      .col-md-12.mvl
        h2.em.mtm
          span.blanchemaille Bl@nchemaille
          | &nbsp;en chiffres

.white
  .container
    .row.text-center.mvxl
      .col-md-4.col-sm-4.m-home--statistics.mbl
        .m-home--statistics--big(count-to='{{organizations.length}}', duration='5', value='0')
        .m-home--statistics--small.upper.em
          ng-pluralize(count='organizations.length', when=' \
            { \
              "one": "Membre", \
              "other": "Membres" \
            } \
          ')

      .col-md-4.col-sm-4.m-home--statistics.mbl
        .m-home--statistics--big(count-to='{{partners.length}}', duration='5', value='0')
        .m-home--statistics--small.upper.em
          ng-pluralize(count='partners.length', when=' \
            { \
              "one": "Partenaire", \
              "other": "Partenaires" \
            } \
          ')

      .col-md-4.col-sm-4.m-home--statistics.mbl
        .m-home--statistics--big(count-to='8000000', duration='5', value='0')
        .m-home--statistics--small.upper.em d'investissements

.light-gray.pvxl
  .container.text-center
    .row
      .col-md-12
        h2.em
          | Les&nbsp;
          span.blanchemaille partenaires

        .hr.turquoise

    .row
      div(ng-repeat='partner in partners | limitTo:3')
        .col-md-4.col-sm-4
          a.m-partner.block.mbl(ui-sref='partners.show({ id: partner.id })')
            img.max-width(src='{{partner.image.image.thumb.url}}', api-img)

.pvxl.text-white
  .container
    .row.text-center.ptxl
      .col-md-12
        h2.em
          span.blanchemaille Contactez&nbsp;
          | nous !

        .hr.turquoise

  .container
    .row.pbxl
      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.text-turquoise.mbl.upper {{about.title}}
          .text-justify(ng-bind-html='about.content')

      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.text-turquoise.mbl.upper Contact
          p
            i.glyphicon.glyphicon-map-marker.text-turquoise.mrm
            | 17 Grand Place
          p
            i.glyphicon.glyphicon-tower.text-turquoise.mrm
            | 59100 Roubaix
          p
            i.glyphicon.glyphicon-earphone.text-turquoise.mrm
            | 03 21 12 34 56
          p
            i.glyphicon.glyphicon-envelope.text-turquoise.mrm
            | contact@blanchemaille.com

      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.text-turquoise.mbl.upper Social
          p Facebook
          p Twitter
          p Linked-in
          p Viadeo

script.
  maxHeight();
