.height-100
  .m-home--background.cover
  .container.pos-absolute-center.max-width.text-center
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3.mbl
        img.max-width(src='images/logo-white.png')

    .row
      .col-md-12
        a.btn.btn-custom.btn-lg.btn-inverse(du-smooth-scroll, href='#hello') En savoir plus

#nav.max-width(ng-include="'views/partials/header.html'")

#hello.white.pvxl.prevent-affix
  .container
    .row.text-center
      .col-md-12
        h2.em(blanchemaille) {{page.title}}

        .hr.blanchemaillish

        .text-justify(ng-bind-html='page.content')

.blanchemaillish.pos-relative.arrow.pvl
  .container
    .row.text-center
      .col-md-12.mvl
        h2.em.mtm
          span.blanchemaille Retrouvez-nous

.white
  .container
    .row.text-center.mvxl
      .col-md-6.mbl
        a.twitter-timeline(href='https://twitter.com/Blanchemaille', data-widget-id='502479346682982400') Tweets de @Blanchemaille
        script#twitter-wjs(src='http://platform.twitter.com/widgets.js')
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      .col-md-6.mbl
        iframe(allowtransparency='true', frameborder='0', scrolling='no', src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FBlanchemaille%2F261730210654503&width&height=590&colorscheme=light&show_faces=true&header=true&stream=true&show_border=false&appId=166168030141220', style='border: none; overflow: hidden; width: 100%; height: 400px;', )

.light-gray.pvxl
  .container.text-center
    .row
      .col-md-12
        h2.em
          | Les&nbsp;
          span.blanchemaille acteurs

        .hr.blanchemaillish

    .row
      flex-slider(animation='slide', control-nav='false', item-margin='20', item-width='300', pause-on-hover='true', slide='partner in partners track by $index', slideshow-speed='4000')
        li.mrl
          a.m-partner.block.mbl(ui-sref='partners.show({ id: partner.slug })')
            img.max-width(src='{{partner.image.image.thumb.url}}', api-path)

.pvxl.text-white.m-home--footer
  .container
    .row.text-center.ptxl
      .col-md-12
        h2.em
          span.blanchemaille Contactez&nbsp;
          | nous !

        .hr.blanchemaillish

  .container
    .row.pbxl
      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.mbl.upper
            b {{about.title}}
          .text-justify(ng-bind-html='about.content')

      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.mbl.upper
            b Contact
          p
            i.glyphicon.glyphicon-map-marker.mrm
            | 17 Grand Place
          p
            i.glyphicon.glyphicon-tower.mrm
            | 59100 Roubaix
          p
            i.glyphicon.glyphicon-earphone.mrm
            | 03 21 12 34 56
          p
            i.glyphicon.glyphicon-envelope.mrm
            | contact@blanchemaille.com

      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.mbl.upper
            b {{networks.title}}
          .text-justify(ng-bind-html='networks.content')

script.
  maxHeight();
