.height-100
  .m-home--background.cover
  .container.pos-absolute-center.max-width.text-center
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3.mbl
        img.max-width(src='images/logo-white.png')

    .row
      .col-md-12
        a.btn.btn-custom.btn-lg.btn-inverse(du-smooth-scroll, href='#hello') En savoir plus

#nav.max-width(ng-include="'views/partials/header.html'")

#hello.white.pvxl.prevent-affix
  .container
    .row.text-center
      .col-md-12
        h2.em(blanchemaille) {{page.title}}

        .hr.blanchemaillish

        .text-justify(ng-bind-html='page.content')

.blanchemaillish.pos-relative.arrow.pvl
  .container
    .row.text-center
      .col-md-12.mvl
        h2.em.mtm
          span.blanchemaille Blanchemaille
          | &nbsp;en chiffres

.white
  .container
    .row.text-center.mvxl
      .col-md-4.col-sm-4.m-home--statistics.mbl
        .m-home--statistics--big(count-to='{{organizations.length}}', duration='5', value='0')
        .m-home--statistics--small.upper.em
          ng-pluralize(count='organizations.length', when=' \
            { \
              "one": "Membre", \
              "other": "Membres" \
            } \
          ')

      .col-md-4.col-sm-4.m-home--statistics.mbl
        .m-home--statistics--big(count-to='{{partners.length}}', duration='5', value='0')
        .m-home--statistics--small.upper.em
          ng-pluralize(count='partners.length', when=' \
            { \
              "one": "Partenaire", \
              "other": "Partenaires" \
            } \
          ')

      .col-md-4.col-sm-4.m-home--statistics.mbl
        .m-home--statistics--big
          span(count-to='{{investment.content}}', duration='5', value='0')
          | &nbsp;€
        .m-home--statistics--small.upper.em d'investissements

.light-gray.pvxl
  .container.text-center
    .row
      .col-md-12
        h2.em
          | Les&nbsp;
          span.blanchemaille partenaires

        .hr.blanchemaillish

    .row
      div(ng-repeat='partner in partners | limitTo:3')
        .col-md-4.col-sm-4
          a.m-partner.block.mbl(ui-sref='partners.show({ id: partner.slug })')
            img.max-width(src='{{partner.image.image.thumb.url}}', api-img)

.pvxl.text-white.m-home--footer
  .container
    .row.text-center.ptxl
      .col-md-12
        h2.em
          span.blanchemaille Contactez&nbsp;
          | nous !

        .hr.blanchemaillish

  .container
    .row.pbxl
      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.mbl.upper
            b {{about.title}}
          .text-justify(ng-bind-html='about.content')

      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.mbl.upper
            b Contact
          p
            i.glyphicon.glyphicon-map-marker.mrm
            | 17 Grand Place
          p
            i.glyphicon.glyphicon-tower.mrm
            | 59100 Roubaix
          p
            i.glyphicon.glyphicon-earphone.mrm
            | 03 21 12 34 56
          p
            i.glyphicon.glyphicon-envelope.mrm
            | contact@blanchemaille.com

      .col-md-4
        .ptl.prl.pbl.pll
          h3.em.mbl.upper
            b {{networks.title}}
          .text-justify(ng-bind-html='networks.content')

script.
  maxHeight();
