.peter-river
  .container
    .row.mvl
      .col-md-10.col-md-offset-1
        h2(ng-show='newspaper.id').mtm Modération d'un article
        h2(ng-hide='newspaper.id').mtm Ajout d'un article

.container
  .row.mvxl
    .col-md-10.col-md-offset-1
      div(ng-include="'views/admin/newspaper/form.html'")
