.space

.peter-river
  .container
    .row.mvl
      .col-md-10.col-md-offset-1
        div(ng-include="'views/admin/newspaper/form.html'")

.container
  .row
    .col-md-6.col-md-offset-3.mvxl
      input.form-control(ng-model='search', type='text', placeholder='Rechercher')

  .row
    div(ng-repeat='newspaper in newspapers | filter:search')
      .col-md-4
        .m-newspaper.light-gray
          .m-newspaper--header.text-center(ui-sref='admin.newspapers.edit({ id: newspaper.id })')
            .m-newspaper--image.max-width.pos-absolute
              img.max-width(src='{{newspaper.image.image.thumb.url}}', api-img)

            h2.text-white.pos-absolute-center {{newspaper.title}}

          .m-newspaper--content.pvl.phl
            p {{newspaper.content | characters:200}}

            .text-right
              em.m-newspaper--name {{newspaper.newspaper_name}}

            a.btn.btn-info.btn-inverse.btn-block.mtl(ui-sref='admin.newspapers.edit({ id: newspaper.id })') Editer
